<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Breaking Bad API</title>
        <script type="text/javascript" src="../assets/js/character.js"></script>
        <link rel="stylesheet" type="text/css" href="../assets/styles/index.css">
    </head>
<body>
    <div class="topnav">
        <a class="active" href="../index.html">Home</a>
        <div class="search-container">
            <input type="text" id="input" placeholder="Search.." name="search">
            <button type="submit" onclick="search()">Search</button>
        </div>
    </div>

    <div class="parent">
        <div id="title"> ? </div>
        <img id="picture" src="" class="profile_picture">
        <div id="id"> Character id: ? </div>
        <div id="birthday"> Birthday: Unknown </div>
        <ul id="occupations"> Ocupations: </ul>
        <div id="status"> Status: ? </div>
        <div id="nickname"> Nickname: ? </div>
        <div id="portrayed"> Portrayed by: ? </div>
        <div id="category"> Category: ? </div>
        <ul id="appearances_bb"> Appearences Breaking Bad </ul>
        <ul id="appearances_bcs"> Appearences Better Call Saul </ul>
        <ul id="quotes"> Quotes </ul>
    </div>
</body>
