<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Breaking Bad API</title>
        <script type="text/javascript" src="../assets/js/season.js"></script>
        <link rel="stylesheet" type="text/css" href="../assets/styles/index.css">
    </head>
<body>
    <div class="topnav">
        <a class="active" href="../index.html">Home</a>
        <div class="search-container">
            <input type="text" id="input" placeholder="Search.." name="search">
            <button type="submit" onclick="search()">Search</button>
        </div>
    </div>

    <div class="parent">
        <div id="title"> ? Season ? </div>
        <ul id=episodes> Episodes </ul>
    </div>
</body>